# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

npm-debug.log
.DS_Store

*.js.map
app/**/*.js
hooks/
lib/
node_modules/
platforms/
tmp/
typings/
report/


platforms/android/app/build/outputs/apk/.nsbuildinfo
platforms/android/.nsprepareinfo
platforms/android/.gradle/4.1/fileContent/fileContent.lock
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/intermediates/assets/debug/app/tns_modules/@angular/common/locales/ar-SS.js
platforms/android/app/build/intermediates/blame/res/debug/multi/values.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-af.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-am.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ar.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-az.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-b+sr+Latn.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-be.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-bg.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-bn.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-bs.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ca.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-cs.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-da.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-de.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-el.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-en-rAU.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-en-rGB.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-en-rIN.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-es.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-es-rUS.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-et.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-eu.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-fa.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-fi.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-fr.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-fr-rCA.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-gl.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-gu.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-h720dp-v13.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-hdpi-v4.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-hi.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-hr.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-hu.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-hy.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-in.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-is.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-it.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-iw.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ja.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ka.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-kk.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-km.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-kn.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ko.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ky.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-land.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-large-v4.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ldltr-v21.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-lo.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-lt.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-lv.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-mk.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ml.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-mn.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-mr.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ms.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-my.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-nb.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ne.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-night-v8.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-nl.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-pa.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-pl.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-port.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-pt.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-pt-rBR.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-pt-rPT.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ro.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ru.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-si.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-sk.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-sl.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-sq.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-sr.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-sv.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-sw.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-sw600dp-v13.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ta.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-te.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-th.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-tl.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-tr.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-uk.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-ur.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-uz.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-v11.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-v12.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-v13.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-v14.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-v16.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-v17.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-v18.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-v21.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-v22.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-v23.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-v24.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-v25.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-vi.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-xlarge-v4.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-zh-rCN.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-zh-rHK.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-zh-rTW.json
platforms/android/app/build/intermediates/blame/res/debug/multi/values-zu.json
platforms/android/app/build/intermediates/blame/res/debug/single/anim.json
platforms/android/app/build/intermediates/blame/res/debug/single/anim-v21.json
platforms/android/app/build/intermediates/blame/res/debug/single/animator-v21.json
platforms/android/app/build/intermediates/blame/res/debug/single/color.json
platforms/android/app/build/intermediates/blame/res/debug/single/color-v11.json
platforms/android/app/build/intermediates/blame/res/debug/single/color-v23.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-anydpi-v21.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-hdpi.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-hdpi-v4.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-ldpi.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-ldrtl-hdpi-v17.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-ldrtl-mdpi-v17.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xhdpi-v17.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xxhdpi-v17.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xxxhdpi-v17.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-mdpi.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-mdpi-v4.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-nodpi-v4.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-v21.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-v23.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-xhdpi.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-xhdpi-v4.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-xxhdpi.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-xxhdpi-v4.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-xxxhdpi.json
platforms/android/app/build/intermediates/blame/res/debug/single/drawable-xxxhdpi-v4.json
platforms/android/app/build/intermediates/blame/res/debug/single/layout.json
platforms/android/app/build/intermediates/blame/res/debug/single/layout-sw600dp-v13.json
platforms/android/app/build/intermediates/blame/res/debug/single/layout-v11.json
platforms/android/app/build/intermediates/blame/res/debug/single/layout-v16.json
platforms/android/app/build/intermediates/blame/res/debug/single/layout-v21.json
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
platforms/android/app/build/intermediates/incremental/mergeDebugResources/merger.xml
platforms/android/app/build/intermediates/incremental/packageDebug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/file-input-save-data.txt
platforms/android/app/build/outputs/apk/Photogram-debug.apk
platforms/android/app/src/main/AndroidManifest.xml
platforms/android/app/src/main/assets/app/pages/login/login.css
platforms/android/app/src/main/java/com/tns/gen/android/webkit/WebViewClient_frnal_ts_helpers_l58_c38__TnsOAuthWebViewHelper.java
platforms/android/build-tools/android-static-binding-generator/bindings.txt
platforms/android/build-tools/android-static-binding-generator/jsFilesParameters.txt
