<StackLayout (loaded)="stackLoaded($event)">
    <ScrollView>
        <WrapLayout>
            <StackLayout *ngFor = "let album of myAlbums" (tap)="selectAlbum(album.id)" class="album_ctn">
                <Image *ngIf="album.privacy == 'private'" src="res://album" style="width: 200; height: 200"></Image>
                <Image *ngIf="album.privacy == 'public'" src="res://album_green" style="width: 200; height: 200"></Image>
                <Label text="{{album.name}}"></Label>
                <Label text="{{album.description}}"></Label>
            </StackLayout>
        </WrapLayout>
    </ScrollView>
    <!-- <Button [text]="photos ? 'Hide photos' : 'My pictures'" *ngIf="!selected" (tap)="getPhotos()"></Button>
    <Button [text]="mEvents ? 'Hide events' : 'Show my events'" *ngIf="!selected" (tap)="getEvents()"></Button>
    <Button text="New event" (tap)="newEvent()"></Button>
    <Button text="Upload photo" *ngIf="!selected" (tap)="openGallery()"></Button>
    <ScrollView *ngIf="photos && !selected">
        <WrapLayout id="photoView" width="300" orientaton="vertical">
            <StackLayout *ngFor="let myPhoto of myPhotos">
                <Label class="date" text="{{myPhoto.created}}"></Label>
                <Image  src="{{myPhoto.url}}" width="50dp" height="50dp" margin="5" id="{{myPhoto.id}}" (tap)="selectPhoto($event)"></Image>
                <Button text="remove" (tap)="removePhoto(myPhoto.id, myPhoto.fileName)"></Button>
            </StackLayout>
        </WrapLayout>
    </ScrollView>
    <ScrollView *ngIf="selected">
        <StackLayout>
            <Label text="{{photoCreated}}"></Label>
            <Label *ngFor="let user of users" text={{user.firstN}}></Label>
            <Label text="{{username}}"></Label>
            <Label text="{{photoDescription}}"></Label>
            <Button text="X" class="close" (tap)="closePhoto()"></Button>
            <Image src="{{photoUrl}}"></Image>
            <Label text="Rate {{selectedPhoto.likes}}"></Label>
            <GridLayout *ngFor="let comment of photoComments" columns="*, 40">
                <Label text="{{comment.user.firstN}} {{comment.user.lastN}} : {{comment.text}}" col="0"></Label>
                <Button text="x" (tap)="removeComment(comment.id)" col="1"></Button>
            </GridLayout>
                <GridLayout columns="250, 80">
                <TextField #newComment hint="comment" width="80%" height="50dp" col="0"></TextField>
                <Button text="Add" (tap)="addComment(newComment)" col="1"></Button>
                </GridLayout>
        </StackLayout>
    </ScrollView>
    <ScrollView *ngIf="mEvents">
        <StackLayout>
                <StackLayout id="{{event.id}}" *ngFor="let event of participEvents" (tap)="selectEvent($event)" orientation="horizontal">
                    <StackLayout>
                        <Label text="{{event.id}}"></Label>
                        <Label text="{{event.name}}"></Label>
                        <Label text="{{event.role}}"></Label>
                        <Label text="{{event.type}}"></Label>
                        <Label text="{{event.description}}"></Label>
                    </StackLayout>
                    <Button text="leaveEvent" *ngIf="event.role=='User'" (tap)="leaveEvent(event.id)"></Button>
                </StackLayout>
        </StackLayout>
    </ScrollView>
    <ScrollView *ngIf="eventSelected">
        <StackLayout>
            <Label text="Event participants"></Label>
            <WrapLayout *ngFor="let participant of participants">
                <Label text="{{participant.firstN}}"></Label>
                <Label text="{{participant.lastN}}"></Label>
                <Label text="{{participant.role}}"></Label>
            </WrapLayout>
        </StackLayout>
    </ScrollView>-->
</StackLayout>
