Image {
    margin-left: 20dp;
    margin-right: 20dp;
    margin-top: 10dp;
    height: 400px;
    width: 400px;
}

.close {
    margin-left: 90%;
    margin-top: 15px;
    color: black;
    width: 10%;
    background-color: white;
}

WrapLayout {
    width: 90%;
    margin: auto;
}

Label {
    text-align: center;
    padding: 0;
    margin: 0;
}

.album_ctn {
    margin: 5;
    padding: 5;
    width: 45%;
}

.title {
    font-size: 18px;
}

.description {
    font-size: 12px;
}