.container {
    margin-top: 20px; 
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 10px;
}

.header {
    font-size: 24px;
    text-align: center;
    width: 90%;
    padding: 10px;
}

.nomatch {
    font-style: italic;
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}