<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>214558979005-0a6na4ossf9ahvtkq597k8ph90os2561.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214558979005-0a6na4ossf9ahvtkq597k8ph90os2561</string>
	<key>API_KEY</key>
	<string>AIzaSyBF5_XrKInLK8nymVsmaT3xJeLffH9_zKw</string>
	<key>GCM_SENDER_ID</key>
	<string>214558979005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.sergphoto</string>
	<key>PROJECT_ID</key>
	<string>sergphoto-4d8c4</string>
	<key>STORAGE_BUCKET</key>
	<string>sergphoto-4d8c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214558979005:ios:a0914f8b977ec1fd</string>
	<key>DATABASE_URL</key>
	<string>https://sergphoto-4d8c4.firebaseio.com</string>
</dict>
</plist>