<ActionBar title="{{eventName}}" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()">
    </NavigationButton>
    <ActionItem *ngIf="!admin && !showingParticipants" text="leave" (tap)="leaveEvent()"></ActionItem>
        <ActionItem [text] = "showingParticipants ? 'hide guests' : 'show guests'" (tap)="showGuests()"></ActionItem>
        <ActionItem *ngIf="admin" android.systemIcon="ic_menu_delete" ios.systemIcon="16" ios.position="right"(tap)="deleteEvent()"></ActionItem>
</ActionBar>
<StackLayout class="main" (loaded)="stackLoaded($event)">
    <ScrollView>
    <StackLayout>
    <StackLayout orientation="horizontal">
        <!-- to be deleted-->
        <Label text="{{eventId}}"></Label>
        <Label text="Role: "></Label>
        <Label text="{{role}}"></Label>
        
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Image src="{{photo_url}}" class="avatar"></Image>
        <StackLayout class="event_details">
            <Label text="{{privacy}}" col="1" row="0"></Label>

            <Label text="{{description}}" col="1" row="1"></Label>

            <Label text="{{type}}" col="1" row="2"></Label>
        </StackLayout>
    </StackLayout>
        <Button [text]="pictures? 'add new picture' : 'show pictures'" (tap)="showPictures()"></Button>
    <StackLayout>
        <WrapLayout>
            <StackLayout *ngFor="let photo of photoList">
                <Image class="event_photo" id="{{photo.id}}" src="{{photo.url}}" (tap)="selectPhoto(photo.id)"></Image>
            </StackLayout>
        </WrapLayout>
        <StackLayout *ngIf="showingParticipants && !inviting">
            <Label class="header" text="Guest list"></Label>
            <StackLayout *ngFor="let p of participants" orientation="horizontal">
                <StackLayout orientation="horizontal" class="name">
                    <Label  text="{{p.firstN}} {{p.lastN}}"></Label>   
                    <Label *ngIf="p.role == 'Invited'" text=" (invited) "></Label>
                </StackLayout>
                <Button *ngIf="admin" text="delete" class="delete" (tap)="removeParticipant(p.id)"></Button> 
            </StackLayout>  
            <Button *ngIf="admin && showingParticipants && !inviting" text="invite" (tap)="invite()"></Button>
        </StackLayout>       
        <StackLayout *ngIf="inviting">
            <StackLayout orientation="horizontal">
                <SearchBar hint="Search" (textChange)="onTextChanged($event)" (submit)="onTextSubmit($event)" color="black"
                    textFieldBackgroundColor="white" textFieldHintColor="gray"></SearchBar>
                <Button text="end" (tap)="doneInviting()"></Button>
            </StackLayout>
            </StackLayout>
            <StackLayout *ngIf="firstSearch">
                <Label *ngIf="searchList.length == 0" text="no results" class="no_match"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal" *ngFor="let user of searchList">
                <Label  text=" {{user.firstN}} {{user.lastN}} "></Label>  
                <Button text="invite" (tap)="inviteUser(user.id)"></Button>
            </StackLayout>
    </StackLayout>
    </StackLayout>
    </ScrollView>
</StackLayout>
