<StackLayout>
    
    <Label class="header" text="Profile" *ngIf="!selected"></Label>
    <Button [text]="profile ? 'Hide profile' : 'Show profile'"  *ngIf="!selected" (tap)="showInfo()"></Button>
    <GridLayout *ngIf="profile" columns="auto, 60, *" rows="40, 40">
        <Label text="Name: " col="0" row="0"></Label><Label text="{{firstName}}" col="1" row="0"></Label><Label text="{{lastName}}" col="2" row="0"></Label>
        <Label text="Email address: " col="0" row="2"></Label><Label text="{{email}}" col="1" row="2" colSpan="2"></Label>
    </GridLayout>
    <Button text="Logout" (tap)="logout()" *ngIf="!selected"></Button>
</StackLayout>