StackLayout {
    padding: 20px;
    padding-top: 60px;
}

Label {
    font-size: 18px;
}

Label, Button, TextField {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}