<StackLayout>
    <Button text="Events" (tap)="fetchPublicEvents()"></Button>
    <ScrollView *ngIf="pEvents">
        <StackLayout>
                <StackLayout *ngFor="let event of publicEvents" orientation="horizontal">
                    <StackLayout>
                        <Label text="{{event.id}}"></Label>
                        <Label text="{{event.name}}"></Label>
                    </StackLayout>
                    <Button text="join" id="{{event.id}}" (tap)="joinEvent(event.id)"></Button>
                </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>