<TabView #tabView [(ngModel)]="selectedIndex" (selectedIndexChanged)="tabViewIndexChange(tabView.selectedIndex)" iosIconRenderingMode="alwaysTemplate">
    <ActionBar title="">
        <ActionItem *ngIf="isHome" (tap)="onCamera()" ios.systemIcon="15" ios.position="right" android.systemIcon="ic_menu_camera"></ActionItem>

        <ActionItem *ngIf="isSearch" android.position="center">
            
        </ActionItem>
    </ActionBar>

    <StackLayout *tabItem="homeTabItem">
        <home-tab></home-tab>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Search'}">
        <search-tab></search-tab>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Gallery'}">
        <gallery-tab></gallery-tab>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Notification'}">
        <notification-tab></notification-tab>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Profile'}">
        <profile-tab></profile-tab>
    </StackLayout>
</TabView>