.user {
    font-size: 20dp;
}


Image {
    margin-left: 20dp;
    margin-right: 20dp;
    margin-top: 10dp;
    margin-bottom: 10dp;
    padding-bottom: 20dp;
}

.list-group-item {
    padding: 30 10 20 10;    
}

Label {
    color: #FFFDD0;
    padding-bottom: 0;
    margin-bottom: 0;
}


