.user {
    font-size: 20dp;
    padding: 10dp;
}

.title {
    font-size: 30dp;
    margin-bottom: 10dp;
    margin-top: 10dp;
    color: black;
    text-align: center;
}

Image {
    margin-left: 20dp;
    margin-right: 20dp;
    margin-top: 10dp;
    margin-bottom: 10dp;
}

.close {
    margin-left: 90%;
    margin-top: 15px;
    color: black;
    width: 10%;
    background-color: white;
}

.list-group-item {
    padding: 0 8 8 8;    
}

.list-group-item-content {
    padding: 8 15 4 15;
    background-color: #FFFFFF;
}

hr.thin {
    height: 1px;
    border: 0;
    color: #333;
    background-color: #333;
    width: 80%;
    } 