.user {
    font-size: 20dp;
    padding: 10dp;
}

.title {
    font-size: 30dp;
    margin-bottom: 10dp;
    margin-top: 10dp;
    color: black;
    text-align: center;
}

Image {
    margin-left: 20dp;
    margin-right: 20dp;
    margin-top: 10dp;
    margin-bottom: 10dp;
}

.close {
    margin-left: 90%;
    margin-top: 15px;
    color: black;
    width: 10%;
    background-color: white;
}

.list-group-item {
    padding: 0 8 8 8;    
}

.list-group-item-content {
    padding: 8 15 4 15;
    background-color: #FFFFFF;
}

hr.thin {
    height: 1px;
    border: 0;
    color: #333;
    background-color: #333;
    width: 80%;
} 

#x_button {
    position: absolute;
    top: 0;
    right: 0;
}

#rate {
    position: absolute;
    right: 45%;
}

Label {
    color: #FFFDD0;
    padding: 0;
    margin: 0;
}

Button {
    background-color: gray;
    border-color: darkslategray;
    color: ivory;
    width: 100dp;
    margin: 10dp;
}