

<ActionBar title="Camera">
        <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()">
            </NavigationButton>
    <ActionItem *ngIf="pictureSelected" (tap)="uploadPicture()" ios.systemIcon="9" ios.position="right" android.systemIcon="ic_menu_upload"></ActionItem>
</ActionBar>
<ScrollView>
<StackLayout horizontalAlignment="center" verticalAlignment="center" (loaded)="stackLoaded($event)">
    <Image [src]="picture" width="80%" height="70%" id="picture"></Image>
    <Button text="Take photo" (tap)="takePicture()" class="btn btn-primary"></Button>
    <Button text="Choose from file" (tap)="chooseFromFile()" class="btn btn-primary"></Button>
        <StackLayout id="details" *ngIf="pictureSelected">
            <TextField hint="description" [(ngModel)]="details.description"></TextField>
            <TextField hint="location" [(ngModel)]="details.location"></TextField>>
        </StackLayout>
</StackLayout>
</ScrollView>