StackLayout {
    padding-left: 30;
    padding-right: 30;
    padding-bottom: 15;
    background-color: #2f2f2f;
  }
  Image {
    margin-top: 50;
    margin-bottom: 20;
  }

  .logo-img {
    height: 50;
    width: 50;
    margin: 0;
    padding: 5;
  }

  Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    border-radius: 5;
    margin: 10;
  }

  TextField {
    color: black;
    background-color: ivory;
  }

  .submit-button {
    width: 40%;
    background-color: #CB1D00;
    color: white;
  }

  .face-button {
    margin-top: 10%;
    width: 25%;
    border-radius: 5;
    border-width: 1;
    margin-left: 10%;
    margin-right: 3%;
    border-color: #2b3c6a;
    background-color: #3b5998;
    color: white;
  }

  .ggl-btn {
    margin-top: 10%;
    width: 25%;
    border-radius: 5;
    border-width: 1;
    margin-right: 10%;
    margin-left: 3%;
    border-color: whitesmoke;
    background-color: antiquewhite;
    color: #2f2f2f;
  }

  .sign-up-btn {
    background-color: #2f2f2f;
    color: antiquewhite;
    position: relative;
    width: 40%;
  }

  .radio-btn {
    width: 30dp;
    height: 30dp;
    border-radius: 15dp;
    border-width: 2dp;
    border-color: black;
  }

  .header {
    text-align: center;
    font-size: 20dp;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    margin-bottom: 20dp
  }

  .cancel-btn {
    background-color: #CB1D00;
    color: black;
    width: 40%;
  }

  .btn-container {
    margin: auto; 
    width: 70%;
  }
